:8080 {
	encode zstd gzip
	header {
		X-Frame-Options "DENY"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
		Permissions-Policy "geolocation=(), microphone=(), camera=(), payment=()"
	}
	reverse_proxy web:3000
}

:8081 {
	encode zstd gzip
	header {
		X-Frame-Options "DENY"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
		Permissions-Policy "geolocation=(), microphone=(), camera=(), payment=()"
	}
	reverse_proxy api:8000
}
